*{margin: 0;padding: 0;}

body,html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.right {
    width: 65%;
    height: 55px;
    background: #f78a74;
    border-radius: 70px;
    border: 5px solid white;
    margin: 15px 70px;
    display: flex;
    justify-content: space-between;
}

#time::before{

content: "\f017";

font:normal normal normal 14px/1 FontAwesome;

font-size: 20px;

margin-right: 5px;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #e8e6e6;
}

.left {
    margin: 18px 70px;
    font-size: 18px;
    color: gray;
    height: 35px;
}

.left:hover ul.lang{

    transform: translateX(5px) translateY(0px);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

ul.lang {
    width: 10%;
    border-top: 3px solid #f78a74;
    list-style: none;
    background: #fff;
    box-shadow: 0px 0px 1px #00000054;
    transform: translateX(5px) translateY(50px);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    padding-left: 10px;
    position: absolute;
    z-index: 3;
}

ul.lang>li {
    padding: 3px 3px;
}

ul.lang>li>a {
    text-decoration: none;
    font-size: 15px;
    color: gray;
}

ul.lang>li>a:hover{

color:#f78a74;
}

div#text {
    position: relative;
    width: 60%;
    font-size: 19px;
    margin-right: 10%;
    margin-top: 2%;
}


#text::before{

    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: -40px;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}
#text::after{

    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 540px;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}

#text a {
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

#text .a1.hien{

    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.languages{

display: inline-block;
position: relative;
top: -10px;
cursor: pointer;
}

.languages::after{

    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
}

.left .anh{

display: inline-block;
position: relative;
top: -2px;
cursor: pointer;
}

.left .anh img{

display: inline-block;
border: 3px solid #fff;
border-radius: 50%;
width: 55%;
height: 20px;
box-shadow: 0px 0px 12px #f57b2b70;
}

div#time {
    font-family: segoe ui;
    color: white;
    margin: 16px 25px;
}

div#time b {
    font-size: 18px;
}





/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 65px;
    height: 50px;
    background: #ececec;
    z-index: 2;
}

.header-center {
    width: 50%;
    padding: 30px 0px;
}

ul.list {
    display: flex;
    text-transform: uppercase;
    font-family: segoe ui;
    font-weight: 600;
}

.header-center ul.list li {
    width: 30%;
    text-align: center;
    list-style: none;
    height: 30px;
}

.header-center ul.list li.arrow{
    position: relative;
    height: 70px;
}

.link-a::after{

content: "\f107";
font: normal normal normal 14px/1 FontAwesome;
font-size: 20px;
margin-left: 3px;
color: #2f2c2c;
transition: 0.5s;
cursor: pointer;
}

.table:hover .link-a::after{

    color: #f78a74;
    transition: 0.5s;
}

.table:hover .link-a a{

    color: #f78a74;
    transition: 0.5s;
}

.header-center ul.list li  a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    cursor: pointer;
}

.header-center ul.list li a:hover{

    color: #f78a74;
    transition: 0.5s;
}

.media-social {
    display: flex;
    margin: -7px 0px;
}

.header-left {
    padding: 10px 0px;
    display: flex;
    width: 12%;
}

.header-left i.fa.fa-search {
    padding: 8px 10px;
    border-left: 2px solid #d6d3d3;
    position: relative;
    left: 15px;
    top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.header-left i.fa.fa-search:hover{

    color: #f78a74;
    transition: 0.5s;
}

.header ul.tb {
    width: 160%;
    text-align: end;
    padding: 10px 20px;
    background: white;
    box-shadow: 0px 0px 1px #00000036;
    font-size: 17px;
    border-top: 2px solid #f78a74;
    margin-left: 25%;
    transform: translateY(80px);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 2;
    position: absolute;
}

ul.tb li {
    width: 100%;
}

.table ul.tb li {
    text-transform: none;
    width: 100%;
    text-align: initial;
    padding: 5px 0px;
}

.table {
    height: 30px;
}

li.arrow:hover ul.tb{

    transform: translateY(40px);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.thanh {
    position: relative;
    width: 35%;
    cursor: pointer;
    left: 30px;
    height: 30px;
}

.header-right {
    display: flex;
    width: 20%;
    padding: 30px 0px;
}

.thanh1 {
    width: 35%;
    height: 3px;
    background: #332f2f;
    transform: rotate(0deg) translateX(0px);
    transition: 0.5s;
}

.thanh2 {
    width: 42%;
    height: 3px;
    background: #332f2f;
    margin: 5px 0px;
    transform: translateX(-6px);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.thanh3 {
    width: 35%;
    height: 3px;
    background: #332f2f;
    transform: rotate(0deg) translateX(0px);
    transition: 0.5s;
}

.icon {
    padding: 5px 9px;
    border: 2px solid gray;
    margin: 0px 3px;
    border-radius: 50%;
    height: 17px;
    width: 10px;
    z-index: 2;
    transition: 0.5s;
}

.icon a {
    color: gray;
    transition: 0.5s;
}

i.fa.fa-twitter {
    margin: 0px -2px;
}

i.fa.fa-instagram {
    margin: 0px -2px;
}

i.fa.fa-google-plus {
    margin: 0px -4px;
}

.icon:hover{

    background: #f78a74;
    border: 2px solid #f78a74;
    transition: 0.5s;
}

.icon:hover a{

    color: #fff;
    transition: 0.5s;
}

.search-den {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000e0;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5) translateY(80%);
    transition: 0.5s;
}

.search-den.hien-den{

    animation: hienlen 0.3s forwards;
}

@keyframes hienlen{

    0%{
        transform: scale(0.5) translateY(80%);opacity: 1;visibility: visible;
    }
    100%{
        transform: scale(1) translateY(0%);opacity: 1;visibility: visible;border-radius: 0%;z-index: 5;
    }
}


.search-den.hien-den .bottom{

    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.search-den.hien-den .close{

    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    transition-delay: 0.5s;
}


.bottom {
    width: 53%;
    margin: 16% 317px;
    display: flex;
    opacity: 0;
    visibility: hidden;
}

input[type="email"] {
    width: 100%;
    border: 1px solid #fff;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 70px;
    transform: translateY(-96px);
}

.tk {
    position: absolute;
    padding: 17px 20px;
    color: #fff;
    background: #f78a74;
    left: 976px;
    top: 241px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.close {
    width: 1%;
    padding: 9px 17px;
    border-radius: 50%;
    color: #fff;
    background: #fff;
    font-size: 25px;
    margin: 5% 85%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

i.fa.fa-times {
    color: #f78a74;
    margin: 0px -3px;
}

.thanh1.xoay1{

    transform: rotate(-45deg) translateX(-10px);
    transition: 0.5s;
}

.thanh2.an{

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.thanh3.xoay2{

    transform: rotate(45deg) translateX(-12px);
    transition: 0.5s;
}

.black-left {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000000db;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    transform-origin: 100% 100%;
    transform: scaleX(0.1) translateX(700%);
    transition: 2s;
    transition-delay: 0.3s;
}

.black-left.on{

    transform-origin: 100% 100%;
    transform: scaleX(1) translateX(0%);
    transition: 1s;
}

.menu-left.on1{

    transform: translateX(0%);
    transition: 0.5s;
    transition-delay: 1s;
}

.menu-left {
    width: 17%;
    background: #1f1e1e;
    padding: 0px 25px;
    height: 100%;
    transform: translateX(100%);
    transition: 0.5s;
}

.menu-img {
    width: 100%;
}

.menu-img img {
    width: 28%;
    margin: 2px 2px;
}

.text-1 {
    width: 100%;
    margin: 15px 0px;
}

.text-1 h4 {
    font-size: 22px;
    color: #fff;
    font-family: segoe ui light;
    margin: 10px 0px;
}

.text-1 p {
    font-size: 17px;
    color: #66819a;
    font-family: segoe ui;
}

.text-2 {
    width: 100%;
    margin: 15px 0px;
}

.text-2 h4 {
    font-size: 22px;
    color: #fff;
    font-family: segoe ui light;
    margin: 10px 0px;
}

.text-2 p {
    font-size: 17px;
    color: #66819a;
    font-family: segoe ui;
}

.text-3 {
    width: 100%;
    margin: 15px 0px;
}

.text-3 h4 {
    font-size: 22px;
    color: #fff;
    font-family: segoe ui light;
    margin: 10px 0px;
}

.text-3 p {
    font-size: 17px;
    color: #66819a;
    font-family: segoe ui;
}

.menu-close {
    padding: 7px 12px;
    background: #f78a74;
    width: 3%;
    position: relative;
    left: -25px;
    cursor: pointer;
    transition: 0.5s;
}

.menu-close:hover{

    background: red;
    transition: 0.5s;
}

.menu-close i.fa.fa-times{

    color: #fff;
}

.white-img {
    padding: 20px 0px;
    border-bottom: 1px solid #66819a;
}

.menu-lego {
    width: 100%;
    font-size: 18px;
    padding-top: 15px;
}

.menu-lego a {
    color: #fff;
    margin-right: 20px;
    transition: 0.5s;
}

.menu-lego a:hover{

    color: #f78a74;
    transition: 0.5s;
}




/* slider */
.slider {
    width: 100%;
    position: relative;
    z-index: 1;
}

.slide {
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.slide.active{

    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.slide-img {
    width: 100%;
}

.slide-img img {
    width: 100%;
    height: 600px;
    filter: brightness(0.5);
}

.slide-text {
    width: 60%;
    position: absolute;
    top: 0px;
    text-align: center;
    margin: 20% 20%;
}

.slide-a1 {
    width: 100%;
    transition: 0.5s;
    transform: translateY(-70px);
    opacity: 0;
    visibility: hidden;
}

.slide-a1 a::before{

content:" ";
width: 5%;
height: 2px;
background: #fff;
position: absolute;
top: 13px;
left: 315px;
}

.slide-a1 a::after{

content:" ";
width: 5%;
height: 2px;
background: #fff;
position: absolute;
top: 13px;
left: 455px;
}

.slide-a1 a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: segoe ui;
    font-weight: 600;
    transition: 0.5s;
}

.slide-a2 {
    width: 100%;
    transition: 0.5s;
    transform: translateY(70px);
    opacity: 0;
    visibility: hidden;
}

.slide-a2 a {
    text-decoration: none;
    color: #fff;
    font-family: segoe ui;
    font-size: 35px;
    transition: 0.5s;
}

.slide-p {
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-family: segoe ui;
    text-transform: uppercase;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
}

.slide a:hover{

    color: #f78a74;
    transition: 0.5s;
}

.slide-prev {
    position: absolute;
    top: 260px;
    left: 20px;
    padding: 20px 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    font-family: segoe ui;
    font-weight: 500;
    transform: rotate(-89deg);
    letter-spacing: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.slide-prev:hover{

    color: #f78a74;
    background: #fff;
    transition: 0.5s;
}

.slide-next {
    position: absolute;
    top: 260px;
    left: 1215px;
    padding: 20px 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    font-family: segoe ui;
    font-weight: 500;
    transform: rotate(-89deg);
    letter-spacing: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.slide-next:hover{

    color: #f78a74;
    background: #fff;
    transition: 0.5s;
}

.slide.active .slide-a1{

    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    transition: 0.8s;
    transition-delay: 0.6s;
}


.slide.active .slide-a2{

    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    transition: 0.8s;
    transition-delay: 0.8s;
}

.slide.active .slide-p{

    opacity: 1;
    visibility: visible;
    transition: 0.8s;
    transition-delay: 1.2s;
}





/* body */
.body {
    position: relative;
    top: 600px;
    height: 100%;
    width: 100%;
    padding-top: 35px;
    background: #fff;
}

.body-1 {
    display: flex;
    width: 89%;
    margin: auto;
}

.body-layout {
    margin: 0px 15px;
    width: 33%;
    position: relative;
    overflow: hidden;
    height: 250px;
}

.body-layout:hover img{

    transform: scale(1.1);
    transition: 0.4s;
}

.body-layout:hover .body1-text{

    transform: translateY(150px);
    transition: 0.4s;
}

.body-layout:hover .body-text h4{

    transform: scale(1.1);
    transition: 0.4s;
}

.body1-img {
    width: 100%;
}

.body1-img img {
    width: 100%;
    filter: brightness(0.6);
    transform: scale(1);
    transition: 0.4s;
}

.body1-num {
    position: absolute;
    top: 0px;
    font-size: 250px;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    font-family: "Lora",serif;
    line-height: 1;
    width: 100%;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff59;
}

.body1-text {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    height: 100%;
    transform: translateY(170px);
    transition: 0.4s;
    background: linear-gradient(50deg, #0000002b, #08080800);
}

.body1-text h4 {
    font-size: 35px;
    transform: scale(1.1);
    transition: 0.4s;
}

.body1-text h4 a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.4s;
}

.body1-text h4 a:hover{

    color: #f78a74;
    transition: 0.4s;
}

.body1-text p {
    font-size: 20px;
    color: #fff;
}

.body1-text .white {
    width: 15%;
    height: 3px;
    background: white;
    margin: auto;
    margin-top: 20px;
}

/* body2 */
.body2 {
    width: 89%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 50px 0px;
}

.body2-left {
    width: 66%;
    padding-left: 16px;
}

.body2-right {
    width: 28%;
    margin-left: 0px;
    text-align: center;
}

.left2-head img {
    width: 100%;
    filter: brightness(0.6);
    transform: scale(1);
    transition: 0.5s;
}

.left2-head {
    width: 97%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 608px;
}

.left2-head:hover img{

    transform: scale(1.1);
    transition: 0.5s;
}

.left2-tittle {
    position: absolute;
    top: 155px;
    font-size: 200px;
    font-family: sans-serif;
    font-weight: 800;
    color: #ffffff61;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    width: 100%;
    text-align: center;
}

.left2-text {
    position: absolute;
    top: 410px;
    left: 60px;
}

.left-a1 {
    width: 80%;
    margin-left: 40px;
}

.left-a1 a {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: segoe ui;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
}

.left-a1 a::before{

content: "";
position: absolute;
width: 3%;
left: 5px;
height: 2px;
background: #fff;
top: 10px;
}

.left-a2 {
    width: 90%;
    margin: 15px 0px;
}

.left-a2 h3 {
    font-size: 32px;
    font-family: segoe ui;
}

.left-a2 h3 a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.left-a3 {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.list-p {
    color: #fff;
    font-family: segoe ui;
}

.list-a {
    color: #fff;
    padding-top: 4px;
    transition: 0.5s;
}

.list-a a {
    color: #fff;
    margin: 10px;
    transition: 0.5s;
}

.left2-head a:hover{

    color: #f78a74;
    transition: 0.5s;
}

.left2-search {
    width: 97%;
    background: #f4f4f4;
    margin-top: 50px;
    padding-top: 40px;
    height: 185px;
}

.search-p1 {
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    color: #191818;
    padding-left: 40px;
}

.search-p2 {
    width: 100%;
    font-size: 19px;
    color: gray;
    margin: 20px 0px;
    padding-left: 40px;
}

.search-inp{
    
    display: inline;
    padding-left: 40px;
}

input[type="text"] {
    font-size: 16px;
    padding: 13px 20px;
    border: 1px solid white;
    width: 50%;
    color: gray;
}

.search-a {
    width: 20%;
    display: inline-block;
    padding: 13px 10px;
    text-align: center;
    background: #f78a74;
    position: relative;
    top: 2px;
    margin-left: 25px;
}

.search-a a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-family: segoe ui;
}

.search-a a::after{

    content: "\f178";
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 10px;
}

.left2-img {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.left2-img a:hover{

    color: #f78a74;
    transition: 0.5s;
}

.l2-img {
    width: 48%;
    position: relative;
    height: 435px;
    overflow: hidden;
    margin-bottom: 28px;
}

.l2-img img{

    width: 100%;
    transition: 0.5s;
    transform: scale(1);
}

.l2-img:hover img{

    transform: scale(1.1);
    transition: 0.5s;
}


.img2-num {
    position: absolute;
    top: 90px;
    left: 65px;
    font-size: 230px;
    font-family: fantasy;
    color: #ffffff3b;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.l2-img img {
    filter: brightness(0.7);
}

.img-text {
    position: absolute;
    top: 270px;
    left: 30px;
    width: 92%;
}

.img-a1 {
    width: 100%;
}

.img-a1 a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: segoe ui;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.img-a1 a::before{

content: "";
position: absolute;
width: 7%;
left: 5px;
height: 2px;
background: #fff;
top: 9px;
}

.img-a2 {
    width: 100%;
    margin: 15px 0px;
}

.img-a2 a {
    text-decoration: none;
    color: #fff;
    font-size: 29px;
    font-weight: 600;
    transition: 0.5s;
}

.img-a3 {
    width: 68%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.img-a3 p {
    font-family: segoe ui;
    font-size: 14px;
}

.img-link {
    font-size: 14px;
    padding-top: 3px;
}

.img-link a {
    color: #fff;
    margin: 0px 10px;
}

.l2-img.move-left{

    margin-right: 30px;
}

.move-but {
    display: flex;
    width: 100%;
}

.but-left {
    font-size: 25px;
    text-align: center;
    width: 45px;
    height: 35px;
    border: 2px solid;
    color: #80808085;
    padding-top: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.but-left:hover{

    background: #f78a74;
    color: #fff;
    border: 2px solid #f78a74;
    transition: 0.5s;
}

.but-num{
font-size: 25px;
text-align: center;
width: 45px;
height: 35px;
border: 2px solid;
color: #80808085;
padding-top: 10px;
border-radius: 50%;
cursor: pointer;
margin: 0px 10px;
transition: 0.5s;
}

.but-num:hover{

    background: #f78a74;
    color: #fff;
    border: 2px solid #f78a74;
    transition: 0.5s;
}

.but-num.orange{

    background: #f78a74;
    color: #fff;
    border: 2px solid #f78a74;
}

.but-right {
    padding-top: 15px;
    margin-left: 5px;
}

.but-right a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: gray;
    font-family: segoe ui;
    transition: 0.5s;
}

.but-right a::after{

    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    color:#80808085 ;
    margin-left: 8px;
    margin-top: 2px;
    font-size: 18px;
    transition: 0.5s;
}

.but-right:hover a{

    color: #f78a74;
    transition: 0.5s;
}

.but-right:hover a::after{
    
    color: #f78a74;
    margin-left: 15px;
    transition: 0.5s;
    
}

.about-me {
    width: 100%;
    position: relative;
}

.tittle {
    font-family: segoe ui;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
    position: relative;
}

.tittle::before{
content: "";
width: 25px;
height: 2px;
background: #d6d6d6;
position: absolute;
top: 10px;
left: 90px;
}

.tittle::after{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 220px;
    }

.ab-img {
    width: 100%;
}

.ab-img img {
    width: 90%;
    filter: brightness(0.7);
}

.ab-icon {
    position: absolute;
    top: 220px;
    width: 100%;
}

.big-text {
    width: 100%;
}

.big-text a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-family: initial;
}

.icon-ab {
    width: 100%;
    margin-top: 15px;
}

.icon-ab a {
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 9px 13px;
    border-radius: 50%;
    margin: 0px 2px;
}

#blue{

    background: #4267b2;
}

#rose{

    background: #e9455a;
}

#red{

    background: #e60023;
}

.ab-text {
    width: 90%;
    FONT-SIZE: 19PX;
    margin: auto;
    margin-top: 18px;
    color: gray;
}

.ab-end {
    width: 50%;
    margin: auto;
    margin-top: 18px;
}

.ab-end img {
    width: 55%;
}

.ins-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    padding-left: 25px;
}

.a-img {
    width: 44%;
    position: relative;
    height: 139px;
    margin-right: 15px;
    overflow: hidden;
}

.a-img:hover img{

    transform: scale(1.1);
    filter: brightness(0.5);
    transition: 0.5s;
}

.a-img:hover i.fa.fa-eye{

    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.a-img img {
    width: 100%;
    transform: scale(1);
    filter: brightness(1);
    transition: 0.5s;
}

i.fa.fa-eye {
    position: absolute;
    top: 50px;
    left: 55px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
} 

.tittle1 {
    font-family: segoe ui;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
    position: relative;
}

.tittle1::before{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 90px;
}
    
.tittle1::after{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 220px;
}
    
.a-img.top {
    margin-top: -40px;
}

.instagram {
    width: 100%;
    margin-top: 50px;
}

.tittle2 {
    font-family: segoe ui;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
    position: relative;
}

.tittle2::before{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 85px;
}
    
.tittle2::after{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 225px;
}

.social {
    width: 100%;
}

.social-media {
    width: 75%;
    margin: auto;
    display: flex;
}

.social-link a {
    color: #fff;
    padding: 12px 15px;
    margin: 0px 5px;
    border-radius: 50%;
    text-align: center;
}

.f{
    background: #4267b2;
}
.i{
    background: #e9455a;
}
.p{
    background: #e60023;
}
.t{
    background: #1da1f2;
}
.social-link .y{
    background: #ff0000;
    padding: 11px 12px;
}

.social-media {
    padding: 10px 10px;
}

.tittle3 {
    font-family: segoe ui;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
    position: relative;
}

.tittle3::before{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 80px;
}
    
.tittle3::after{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 230px;
}


.news {
    width: 100%;
    margin-top: 50px;
    margin-left: 15px;
}

.news-div {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #8080803b;
    padding-bottom: 20px;
}

.news-img {
    width: 27%;
    height: 70px;
    margin-left: -5px;
    margin-right: 5px;
}

.news-text {
    width: 65%;
}

.news-text a {
    text-decoration: none;
    color: #3a3939;
    transition: 0.5s;
}

.news-text a:hover{

    color: #f78a74;
    transition: 0.5s;
}

.news-text p {
    text-align: initial;
    margin-bottom: 5px;
}

.tittle4 {
    font-family: segoe ui;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
    position: relative;
    top: 30px;
}

.tittle4::before{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 80px;
}
    
.tittle4::after{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 230px;
}

.letter {
    background: #f4f4f4;
    width: 100%;
    height: 225px;
    margin-left: 15px;
}

.letter-form {
    display: flex;
    width: 100%;
    padding-left: 40px;
}

.arrow1 {
    padding: 14px 15px;
    background: #f78a74;
    color: #fff;
}

.letter p {
    width: 65%;
    color: #353434;
    margin: auto;
    padding: 30px 0px;
}

.tittle5 {
    font-family: segoe ui;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 50px;
    position: relative;
    top: 30px;
}

.tittle5::before{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 90px;
}
    
.tittle5::after{
    content: "";
    width: 25px;
    height: 2px;
    background: #d6d6d6;
    position: absolute;
    top: 10px;
    left: 220px;
}

.category {
    width: 100%;
    margin-left: 15px;
}

.category-text {margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}

.category-text a {
    color: #1f1e1e;
    text-decoration: none;
    font-size: 15px;
    font-family: segoe ui;
    font-weight: 500;
    transition: 0.5s;
}

.category-text:hover a{

    color: #f78a74;
    transition: 0.5s;
}

.link-img-a {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.link-img-a img {
    width: 100%;
}

.body3 {
    display: flex;
    width: 96%;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 85px;
    height: 380px;
}

.bd3-img img {
    position: relative;
    transform: scale(1);
    filter: brightness(1);
    transition: 0.5s;
}

.bd3-img .fa.fa-instagram {
    position: absolute;
    left: 115px;
    font-size: 30px;
    color: #fff;
    z-index: 2;
    top: 110px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.bd3-img {
    width: 18%;
    height: 220px;
    position: relative;
    overflow: hidden;
}

.bd3-img:hover img{

    transform: scale(1.1);
    filter: brightness(0.5);
    transition: 0.5s;
}

.bd3-img:hover .fa.fa-instagram{

    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.footer {
    width: 100%;
    height: 55%;
    background: black;
    padding-top: 140px;
}

.footer-logo {
    width: 8%;
    margin: auto;
}

.footer-icon {
    display: flex;
    width: 87%;
    margin-left: 7%;
    margin-top: 4%;
    justify-content: space-between;
    height: 115px;
    border-bottom: 1px solid #ffffff29;
}

.f-menu {
    display: flex;
}

.f-right {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid;
    cursor: pointer;
    transition: 0.5s;
}

.f-right:hover{

    border: 1px solid #f78a74;
    background: #f78a74;
    transition: 0.5s;
}

.f-right a {
    color: #ffffffb3;
    position: relative;
    left: 18px;
    top: 13px;
    font-size: 21px;
    transition: 0.5s;
}

.f-left {
    margin-left: 15px;
}

.f-left a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}

.f-left p {
    color: #ffffffbd;
    font-size: 18px;
}

.f-right i.fa.fa-youtube-play {
    margin-left: -4px;
}

.f-end {
    width: 100%;
    margin-top: 30px;
}

.end-menu {
    width: 30%;
    margin: auto;
}

.end-menu>ul {
    display: flex;
    list-style: none;
}

.end-menu>ul>li>a {
    text-decoration: none;
    color: #ffffffbf;
    text-transform: uppercase;
    font-family: segoe ui;
    font-weight: 500;
    font-size: 14px;
    transition: 0.5s;
}

.end-menu>ul>li>a:hover{

    color: #fff;
    transition: 0.5s;
}

.end-menu>ul>li {
    margin: 0px 15px;
}

.end-p {
    color: #fff;
    font-size: 18px;
    width: 25%;
    margin: auto;
    margin-top: 20px;
}